---
layout: default
---

<article>

	<div class="center">
		<h1 class="title">{{ page.title | escape }}</h1>
		<p class="post-meta">By <a href="{{ '/about' | relative_url }}" rel="author">{{ site.author_name | escape }}</a><br>
		<time class="code" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: '%B %-d, %Y' }}</time>
		{% assign published_day = page.date | date: '%Y-%m-%d' %}
		{% assign modified_day = page.last_modified_at | date: '%Y-%m-%d' %}
		{% if page.last_modified_at and modified_day > published_day %}
		<br>Updated <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">{{ page.last_modified_at | date: '%B %-d, %Y' }}</time>
		{% endif %}</p>
	</div>

	<div class="divider"></div>

	{{ content }}

</article>

<nav class="page-navigation code" aria-label="Post navigation">
	{% if page.next.url %}
    <a class="next block" href="{{ page.next.url | relative_url }}" rel="next">&larr; {{ page.next.title | escape }}</a>
  {% endif %}
		<a class="home" href="{{ "/" | prepend: site.baseurl | prepend: site.url }}" title="Back to Index">Index</a>
  {% if page.previous.url %}
    <a class="prev block" href="{{ page.previous.url | relative_url }}" rel="prev">{{ page.previous.title | escape }} &rarr;</a>
  {% endif %}
</nav>
